#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #0d0d0d;
  color: #00ffff;
  font-family: "Courier New", Courier, monospace;
}

textarea {
  border: 1px solid #00ffff;
  resize: none;
}

header {
  border-bottom: 2px solid #00ffff;
}

main {
  display: flex;
  height: calc(100vh - 100px);
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

button.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #00ffff;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.fixed:hover {
  background-color: #00cccc;
}
